.dropdown-item:hover {
    background-color: #aa00f8;
    color: #ffffff;
}

.btn-primary, #languages {
    background-color: #aa00f8;
    border-color: #000000;
    color: #ffffff;
}

.btn-primary:hover, #languages:hover {
    background-color: #db13f8;
    border-color: #000000;
    color: #ffffff;
}

select {
    bottom: 0;
}

.card {
    min-width: 25rem;
    max-width: 25rem;
    border-color: #aa00f8;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(170, 0, 248, 1);
!important;
}
