.dropdown-item:hover {
    background-color: #aa00f8;
    color: #ffffff;
}

.btn-primary, #languages {
    background-color: #aa00f8;
    border-color: #000000;
    color: #ffffff;
}

.btn-primary:hover, #languages:hover {
    background-color: #db13f8;
    border-color: #000000;
    color: #ffffff;
}

select {
    bottom: 0;
}

.card {
    min-width: 25rem;
    max-width: 25rem;
    border-color: #aa00f8;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(170, 0, 248, 1);
!important;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
}

.footerLinks {
    padding: 10px;
    text-align: right;
    font-size: 10px;
    margin: 0 10px 0 0;
}

