<!DOCTYPE HTML>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">

<div th:replace="navbar.html"></div>
<body>
<div class="container  vertical-center">
    <div class=" text-center justify-content-center">
        <big style="font-size:120px; color:red">сломал, пиши теперь в телегу и больше не ломай</big>
        <div class="row">
            <div class="col">
                <a href="/" type="button" class=" btn btn-primary"><big style="font-size:80px"> НЕ ЛОМАТЬ</big></a>
            </div>
        </div>
    </div>
    <audio autoplay>
        <source src="505error.mp3" type="audio/ogg">
    </audio>
</div>
<footer th:replace="footer.html"/>
</body>
</html>
