<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
<body>
<div th:replace="navbar.html"></div>
<div class="container px-5 pt-5">
    <div class="row align-items-center">

        <div class="col-lg-3 col-md-3 offset-md-3 text-center">
            <label for="fnumber" th:text="#{messages.first.number}"></label>
        </div>
        <div class="col-lg-3 col-md-3 text-center">
            <label for="snumber" th:text="#{messages.second.number}"></label>
        </div>
        <div class="col-lg-3 col-md-3 text-center">
            <label for="module" th:text="#{messages.module.number}"></label>
        </div>
    </div>
    <form action="/calculate">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <select class="custom-select" id="numberSystemSelect">
                    <option selected th:text="#{message.choose.number.system}">Choose...</option>
                    <option value="HEX" th:text="#{number.format.hex}">HEX</option>
                    <option value="BIN" th:text="#{number.format.bin}">Binary</option>
                    <option value="DEC" th:text="#{number.format.dec}">Decimal</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-3">
                <input type="text" id="fnumber" class="form-control">
            </div>
            <div class="col-lg-3 col-md-3">
                <input type="text" id="snumber" class="form-control">
            </div>
            <div class="col-lg-3 col-md-3">
                <input type="text" id="module" class="form-control">
            </div>
        </div>
        <div class="row pt-3 ">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary " th:text="#{message.button.calculate}"></button>
            </div>
        </div>
    </form>
</div>
</body>
<script th:replace="scripts"></script>
</html>