<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="head">
<body>
<div th:replace="navbar.html"></div>
<div class="container px-5 pt-5">
    <form action="/calculate" th:object="${longArithmeticDto}" modelAttribute="longArithmeticDto" method="post"
          onchange="change()">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 ">
                <label for="numberSystemSelect" th:text="#{message.choose.number.system}"></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 ">
                <label for="fnumber" th:text="#{messages.first.number}"></label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 ">
                <label for="snumber" th:text="#{messages.second.number}"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 form-group">
                <select class="custom-select " id="numberSystemSelect" th:field="*{numberSystem}"
                        onchange="removeValidation()">
                    <option selected value="HEX" th:text="#{number.format.hex}">HEX</option>
                    <option value="BIN" th:text="#{number.format.bin}">Binary</option>
                    <option value="DECIMAL" th:text="#{number.format.dec}">Decimal</option>
                </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4  form-group">
                <input type="text" class="form-control" id="fnumber" th:field="*{firstNumber}"
                       th:classappend="${#fields.hasErrors('firstNumber')}? 'is-invalid'">
                <p class="invalid-feedback" th:if="${#fields.hasErrors('firstNumber')}" th:errors="*{firstNumber}">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4  col-4 form-group">
                <input type="text" class="form-control" id="snumber" th:field="*{secondNumber}"
                       th:classappend="${#fields.hasErrors('secondNumber')}? 'is-invalid'">
                <p class="invalid-feedback" th:if="${#fields.hasErrors('secondNumber')}" th:errors="*{secondNumber}">
            </div>
        </div>

        <div class="row pt-4 ">
            <div class="col text-center">
                <button type="submit" class="btn btn-primary " th:text="#{message.button.calculate}"></button>
            </div>
        </div>
        <div th:if="${calculated}">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div th:replace="fragments::resultCard(res=*{sum},resName = 'A + B = ')"></div>
                    <div th:replace="fragments::resultCard(res=*{substraction},resName = 'A - B = ')"></div>
                    <div th:replace="fragments::resultCard(res=*{multiplication},resName = 'A * B = ')"></div>
                    <div th:replace="fragments::resultCard(res=*{division},resName = 'A / B = ')"></div>
                    <div th:replace="fragments::resultCard(res=*{module},resName = 'A mod B = ')"></div>
                    <div th:replace="fragments::resultCard(res=*{square},resName = 'A ^ 2 = ')"></div>
                    <div th:replace="fragments::resultCard(res=*{pow},resName = 'A ^ B = ')"></div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
<script th:replace="scripts"></script>
</html>