<html xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img th:src="@{/favicon.ico}" width="45" height="45"
             class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#" th:text="#{page.navbar.long.arithmetic}"> <span
                    class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" th:href="@{/converters}" th:text="#{page.navbar.convertor}"></a>
        </div>
        <ul class="nav navbar-nav ml-auto">
            <li class="dropdown show">
                <a type="button" class=" btn btn-primary dropdown-toggle" id="languages" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">

                <text th:switch="__${#locale.language}__">
                    <text th:case="en" th:text="#{page.navbar.lang.en}"></text>
                    <text th:case="ua" th:text="#{page.navbar.lang.ua}"></text>
                </text>
                </a>
                <div class="dropdown-menu">
                        <a class="dropdown-item"  th:href="@{/?lang=en}" th:text="#{page.navbar.lang.en}"></a>
                        <a class="dropdown-item"  th:href="@{/?lang=ua}" th:text="#{page.navbar.lang.ua}"></a>
                </div>
            </li>
        </ul>
    </div>
</nav>